html {
    /* 62.5 % of 16px = 10px*/
    font-size: 62.5%;
}

body {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-blue: #2091f9;
    --color-white: #ffffff;
    --color-purple: #252b42;
    --color-black: #333333;
}

h1 {
    font-size: 7rem;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

a,
p {
    font-size: 2rem;
    margin-top: 0;
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--white {
    fill: var(--color-white);
}

/* @media screen and (max-width: 768px); */
/* @media only screen and (max-device-width: 480px) */

/* HERO */
.hero {
    background-image: url(/images/Rectangle_9.png);
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

/* NavBar */
.navbar {
    width: 40%;
}

.nav__list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2vw;
}

.navitem > a {
    color: var(--color-white);
    text-decoration: none;
}

.navbar a:hover,
.navbar a:active {
    color: var(--color-purple);
    background-color: var(--color-white);
}

.nav__toggler {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav__toggler {
        display: block;
    }

    .nav__list.hidden {
        display: none;
    }

    .nav__list {
        flex-direction: column;
        padding: 2rem 1rem;
    }
}

/* Logo */
.logo-container .logo-image {
    width: 200px;
    height: 60px;
}

/* Social Icons */
.social-icons-container {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.fa {
    padding: 2rem;
    color: var(--color-white);
    font-size: 3em;
}

.fa:hover {
    opacity: 0.5;
}
