<section class="features">
    <h2 class="features__heading">Features</h2>
    <p class="features__desc">Most Calenders are Designed for Teams</p>
    <div class="feature-components">
        <div class="media">
            <div class="media__image">
                <span class="icon-container">
                    <img src="images/Vector.png" alt="" />
                </span>
            </div>
            <div class="media__body">
                <h3 class="media__title">OpenType Features Variable Fonts</h3>
                <p class="media_desc">
                    Slate helps you see how many more days you need to work to
                    reach your financial goal
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media__image">
                <span class="icon-container">
                    <img src="images/mdi_draw.png" alt="" />
                </span>
            </div>
            <div class="media__body">
                <h3 class="media__title">Design With Real Data</h3>
                <p class="media_desc">
                    Slate helps you see how many more days you need to work to
                    reach your financial goal
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media__image">
                <span class="icon-container">
                    <img src="images/Vector3.png" alt="" />
                </span>
            </div>
            <div class="media__body">
                <h3 class="media__title">Fastest Way To Take Action</h3>
                <p class="media_desc">
                    Slate helps you see how many more days you need to work to
                    reach your financial goal
                </p>
            </div>
        </div>
    </div>
    <div class="object">
        <img class="woman" src="images/screen.png" alt="object holding ipad" />
    </div>
</section>
