<div class="header">
    <nav class="navbar">
        <svg class="icon icon--white nav__toggler">
            <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
        <ul class="nav__list hidden">
            <li class="navitem"><a href="#home">Home</a></li>
            <li class="navitem"><a href="#product">Product</a></li>
            <li class="navitem"><a href="#pricing">Pricing</a></li>
            <li class="navitem"><a href="#about">About</a></li>
            <li class="navitem"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="logo-container">
        <img class="logo-image" src="images/Rectangle 4.png" alt="figma logo" />
    </div>
    <div class="social-icons-container">
        <i href="#" class="fa fa-facebook"></i>
        <i href="#" class="fa fa-twitter"></i>
        <i href="#" class="fa fa-linkedin"></i>
    </div>
</div>
