<div class="plan">
    <div class="card card--primary">
        <div class="card__header">
            <h3 class="plan__name">FREE</h3>
            <span class="plan__price">$0</span>
            <span class="plan__billing-cycle">/Month</span>
            <span class="plan__description"
                >Organize Accross All Apps by Hand
            </span>
        </div>
        <div class="card__body">
            <ul class="list list--tick plan__list">
                <li class="list__item">Nice Feature 1</li>
                <li class="list__item">Nice Feature 2</li>
                <li class="list__item">Nice Feature 3</li>
                <li class="list__item">Nice Feature 4</li>
                <li class="list__item">Nice Feature 5</li>
            </ul>
        </div>
        <button class="btn btn--magenta btn--block">Order Now</button>
    </div>
</div>

<div class="plan">
    <div class="card card--secondary">
        <div class="card__header">
            <h3 class="plan__name">FREE</h3>
            <span class="plan__price">$0</span>
            <span class="plan__billing-cycle">/Month</span>
            <span class="plan__description"
                >Organize Accross All Apps by Hand
            </span>
        </div>
        <div class="card__body">
            <ul class="list list--tick plan__list">
                <li class="list__item">Nice Feature 1</li>
                <li class="list__item">Nice Feature 2</li>
                <li class="list__item">Nice Feature 3</li>
                <li class="list__item">Nice Feature 4</li>
                <li class="list__item">Nice Feature 5</li>
            </ul>
        </div>
        <button class="btn btn--primary btn--block">Order Now</button>
    </div>
</div>
