<section class="testimonials">
    <h2 class="testimonials__heading">Testimonials</h2>
    <div class="testimonials__container">
        <div class="testimonial-single">
            <header class="company-logo">
                <img src="images/Vectoribm.png" alt="IBM Logo" />
            </header>
            <blockquote class="quote">
                <p class="quote__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nostrum, modi? Quod nostrum eveniet, reprehenderit quo
                    quaerat nemo minima nulla error quia adipisci voluptatum
                    pariatur magni a, ullam ab animi dolore?
                </p>
            </blockquote>
            <footer class="media quote__author">
                <div class="media__image">
                    <span class="icon-container quote__author-image-container">
                        <img src="images/avatar.png" alt="" />
                    </span>
                </div>
                <div class="media__body">
                    <h3 class="media__title quote__author-name">
                        Zohaib Carlos
                    </h3>
                    <p class="media_desc quote__author-company">
                        UI Designer, IBM
                    </p>
                </div>
            </footer>
        </div>
        <div class="testimonial-single">
            <header class="company-logo">
                <img src="images/Vectoribm.png" alt="IBM Logo" />
            </header>
            <blockquote class="quote">
                <p class="quote__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nostrum, modi? Quod nostrum eveniet, reprehenderit quo
                    quaerat nemo minima nulla error quia adipisci voluptatum
                    pariatur magni a, ullam ab animi dolore?
                </p>
            </blockquote>
            <footer class="media quote__author">
                <div class="media__image">
                    <span class="icon-container quote__author-image-container">
                        <img src="images/avatar.png" alt="" />
                    </span>
                </div>
                <div class="media__body">
                    <h3 class="media__title quote__author-name">
                        Zohaib Carlos
                    </h3>
                    <p class="media_desc quote__author-company">
                        UI Designer, IBM
                    </p>
                </div>
            </footer>
        </div>
    </div>
</section>
